
<div class="dialog-container">
    <form [formGroup]="formGroup" >
        <mat-form-field appearance="fill">
            <mat-label>Wähle ein Restaurant</mat-label>
            <mat-select [formControl]="formGroup.controls.restaurants">
                <mat-option *ngFor="let option of restaurants$ | async" [value]="option">{{option?.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <ng-container *ngIf="restaurantFormControlHasValueSelected$ | async">
            <mat-form-field appearance="fill">
                <mat-label>Bitte Name der Menükarte eingeben</mat-label>
                <input [formControl]="formGroup.controls.menuCardName" matInput>
            </mat-form-field>
            <br>
             <div class="formfield-wrapper">
                 <mat-label>Datei auswählen</mat-label>
                 <input [formControl]="formGroup.controls.menuCardFile"  type="file">
             </div>
            <br>
        </ng-container>
    </form>
</div>
