
.dialog-container{
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.full-width {
  width: 100%;
}

.btn-group-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & button {
    margin: 0px 8px;
  }
}

.formfield-wrapper{
  display: flex;
  flex-direction: column;
}
.ic-close {
  cursor: pointer;
  top: 16px;
  right: 16px;
  align-self: flex-end;
  margin-bottom: 8px;
}
@media only screen and (min-width: 720px)  {
  .dialog-container {
    min-width: calc(0.67 * 100vw);
  }
}

//@media only screen and (max-width: 719px)  {
//  .dialog-container {
//    width: 100vw;
//  }
//}
