
<div class="dialog-container">
    <mat-icon (click)="onCancel()" class="ic-close">close</mat-icon>
    <form [formGroup]="formGroup" >
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Wähle ein Restaurant</mat-label>
            <mat-select [formControl]="formGroup.controls.restaurants">
                <mat-option *ngFor="let option of restaurants$ | async" [value]="option">{{option?.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <ng-container *ngIf="restaurantFormControlHasValueSelected$ | async">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Bitte Name der Menükarte eingeben</mat-label>
                <input [formControl]="formGroup.controls.menuCardName" matInput>
            </mat-form-field>
            <br>
             <div class="formfield-wrapper full-width">
                 <mat-label>Datei auswählen</mat-label>
                 <input [formControl]="formGroup.controls.menuCardFile"  type="file">
             </div>
            <br>
            <div class="btn-group-wrapper">
                <button
                        (click)="onMenuCardSubmit()"
                        [disabled]="!(formIsValid$ | async)"
                        color="primary"
                        mat-flat-button>
                    Bestätigen
                </button>
                <button (click)="onCancel()" color="warn" mat-stroked-button>Abbrechen</button>
            </div>
        </ng-container>
    </form>
</div>
