mat-list-item {
  min-height: 30px;
  display: block;
  padding: 4px 8px;
  word-break: break-word;
  cursor: pointer;
}
mat-list-item:hover {
  background-color: #eee;
}

.ic-select-collection {
  position: absolute;
  top: calc(50% - 12px);
  right: 16px;
  cursor: pointer;
}
